html, body {
  /* background-color: floralwhite; */
  height: 100%;

  background-image: url('https://ak8.picdn.net/shutterstock/videos/25718228/thumb/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
  overflow: scroll;
  
}

/* .background{
  background-image: url('https://ak8.picdn.net/shutterstock/videos/25718228/thumb/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;  
} */

.App {
  text-align: center;
  height: 100%;
  /* background-color: floralwhite; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar {
  border-width: 2px;
  border-style: solid;
  height: 65px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px;
  width: 90%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

.logo{
  /* position: relative; */
  margin-right:18%;
}

.linkto {
  text-decoration: none;
}

a:visited {
  color:goldenrod;
}

a:link {
  color: goldenrod;
}

.input{
  border-width: 3;
  border-style: solid;
  width: 25%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 8px;
  padding: 2px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.65);
  box-shadow: 5px 5px 5px firebrick;
  border-radius: 15px;
}

.input-field{
  font-size: 15px;
}

.polls{
  border-width:3px;
  box-shadow:5px 5px 5px firebrick;
  border-style: solid;
  width: 70%;
  margin:auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(245, 245, 245, 0.65);
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: transform 0.3s;
  border-radius: 15px;
}

.polls:hover{
  transform: scale(1.05); 
}

.pollsTitle{
  border-width:3px;
  box-shadow:5px 5px 5px firebrick;
  border-style: solid;
  width: 70%;
  margin:auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(245, 245, 245, 0.65);
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  height: 140px;
}

.title{
  border-width:5px;
  border-style: solid;
  width: 45%;
  margin:auto;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-variant: small-caps;
  background-color: rgba(245, 245, 245, 0.75);
  border-radius: 15px;
}

.comment{
  /* border-width:1.5px;
  border-style: solid; */
  width: 45%;
  /* border-color: cornflowerblue; */
  margin:auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  /* background-color: cornflowerblue; */
  /* padding:2px; */
}

.commentUser{
  /* border-width:1.5px;
  border-style: solid; */
  /* margin: 2px; */
  margin-right: 10px;
  width: 15%;
  padding: 5px;
  /* border-color: papayawhip; */
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 15px;
  box-shadow: 5px 5px 5px cornflowerblue;
}

.commentContent {
  /* border-width:1.5px;
  border-style: solid; */
  /* margin: 2px; */
  margin-left: 1px;
  padding: 5px;
  width: 79.5%;
  /* border-color: papayawhip; */
  text-align: left;
  background-color: rgba(245, 245, 245, 0.95);
  /* overflow-x: auto; */
  overflow-wrap: break-word;
  border-radius: 15px;
  box-shadow: 5px 5px 5px cornflowerblue;
}

.voteBtns{
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  margin-right: 35px;
  font-weight: bold;
  border-radius: 10px;
}

.voteBtnDiv {
  border-style:solid;
  border-width: 1px;
  box-shadow:5px 5px 5px firebrick;
  width: 50%;
  /* display: flex; */
  margin:auto;
  margin-bottom: 25px;
  background-color: rgba(245, 245, 245, 0.55);
  border-color: black;
  border-radius: 15px;
  padding:4px;
  height: 29.5%;
  font-weight: bold;
  font-size: 25px;
  font-variant: small-caps;
}

.pollHeader{
  border-width:3px;
  border-style: solid;
  border-color: black;
  width: 50%;
  margin:auto;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: rgba(245, 245, 245, 0.65);
  box-shadow: 3px 3px 3px firebrick;
  border-radius: 15px;
}

.profilePolls{
  border-width:3px;
  box-shadow:5px 3px 3px firebrick;
  border-style: solid;
  width: 35%;
  margin:auto;
  background-color: rgba(245, 245, 245, 0.65);
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

#myChart {
  margin:auto;
  border-width:2px;
  border-style: solid;
  padding: 4px;
  background-color: rgba(245, 245, 245, 0.65);
  margin-bottom: 8px;
}

.status{
  margin-bottom: 3px;
}

.footer{
  position: relative;
  bottom: 0;
  width:100%;
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: 50px; 
}
/* 
.pages{
  margin-top: 65px;
} */

.winnerVote{
  color: green;
  font-weight: bold
}

.loserVote{
  color: red;
}

.signupInput{
  border-width: 3;
  border-style: solid;
  width: 25%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 8px;
  padding: 2px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 5px 5px 5px slateblue;
  border-radius: 15px;
  color: floralwhite;
  border-color:rgba(0, 0, 0, 0.65);
}

.actualPollTitle{
  font-size: 3.5vw;
  margin-bottom: 5px;
}

.bold{
  font-weight: bold;
}

.pollCardStatus {
  border-width:0.5px;
  border-style: solid;
  border-color: black;
  width: 20%;
  margin:auto;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: rgba(245, 245, 245, 0.65);
  box-shadow: 3px 3px 3px firebrick;
  border-radius: 6px;
  font-size: 18.5px;
  font-weight: bold;
}

.pollCardStatusClosed {
  border-width:0.5px;
  border-style: solid;
  border-color: whitesmoke;
  width: 20%;
  margin:auto;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 3px 3px 3px slateblue;
  border-radius: 6px;
  font-size: 18.5px;
  font-weight: bold;
  color: white
}