html {
  background-color: floralwhite;
  height: 200%;
  background-image: url('https://ak8.picdn.net/shutterstock/videos/25718228/thumb/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  /* background-color: floralwhite; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar {
  border-width: 2px;
  border-style: solid;
  height: 65px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px;
  width: 90%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

.logo{
  position: absolute;
  left: 4.5%; 
}

.linkto {
  text-decoration: none;
}

a:visited {
  color:goldenrod;
}

a:link {
  color: goldenrod;
}

.input{
  border-width: 3;
  border-style: solid;
  width: 25%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 8px;
  padding: 2px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.65);
  box-shadow: 3px 3px 3px firebrick;
  border-radius: 15px;
}

.input-field{
  font-size: 15px;
}

.polls{
  border-width:3px;
  box-shadow:5px 3px 3px firebrick;
  border-style: solid;
  width: 70%;
  margin:auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(245, 245, 245, 0.65);
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: transform 0.3s;
  border-radius: 15px;
}

.polls:hover{
  transform: scale(1.05); 
}

.pollsTitle{
  border-width:3px;
  box-shadow:5px 3px 3px firebrick;
  border-style: solid;
  width: 70%;
  margin:auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(245, 245, 245, 0.65);
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

.title{
  border-width:5px;
  border-style: solid;
  width: 45%;
  margin:auto;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-variant: small-caps;
  background-color: rgba(245, 245, 245, 0.75);
  border-radius: 15px;
}

.comment{
  border-width:1.5px;
  border-style: solid;
  width: 35%;
  border-color: firebrick;
  margin:auto;
  box-shadow: 3px 3px 3px firebrick;
  margin-top: 3px;
  margin-bottom: 7px;
  display: flex;
  background-color: firebrick;
}

.commentUser{
  border-width:1.5px;
  border-style: solid;
  margin: 2px;
  margin-right: 1px;
  width: 20%;
  padding: 5px;
  border-color: firebrick;
  background-color: rgba(245, 245, 245, 0.75);
}

.commentContent {
  border-width:1.5px;
  border-style: solid;
  margin: 2px;
  margin-left: 1px;
  padding: 5px;
  width: 75%;
  border-color: firebrick;
  text-align: left;
  background-color: rgba(245, 245, 245, 0.75);
}

.voteBtns{
  font-size: 20px;
  margin-bottom: 5px;
}

.pollHeader{
  border-width:3px;
  border-style: solid;
  border-color: black;
  width: 50%;
  margin:auto;
  margin-top: 5px;
  background-color: rgba(245, 245, 245, 0.65);
  box-shadow: 3px 3px 3px firebrick;
  border-radius: 15px;
}

.profilePolls{
  border-width:3px;
  box-shadow:5px 3px 3px firebrick;
  border-style: solid;
  width: 35%;
  margin:auto;
  background-color: rgba(245, 245, 245, 0.65);
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

#myChart {
  margin:auto;
  border-width:2px;
  border-style: solid;
  padding: 4px;
  background-color: rgba(245, 245, 245, 0.65);
  margin-bottom: 8px;
}

.status{
  margin-bottom: 3px;
}